<!DOCTYPE html>
<html>
<head>
</head>
<link rel="stylesheet"
href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<body>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <ul class="nav navbar-nav"> <!-- navbar-nav -->
      <li><a class="navbar-brand" href="{% url 'index' %}">DJANGO</a></li>
      <li><a class="navbar-brand" href="{% url 'admin:index ' %}">Admin</a></li>
      <li><a class="navbar-brand" href="{% url 'app:register' %}">REGISTER</a></li>

      {% if user.is_authenticated %}
      <li><a class="navbar-link" href="{% url 'logout_user' %}">logout</a></li>

      {% else %}
      <li><a class="navbar-link" href="{% url 'app:login_user' %}">Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>

<div class="container">
  {% block body_block %}
  {% endblock  %}
</div>
</body>
</html
